$vlight-green: rgb(240, 243, 240);
$light-green: rgb(228, 241, 228);
$not-so-light-green: rgb(174, 212, 174);
$vlight-gray: rgb(228, 228, 228);
$light-gray: rgb(198, 201, 198);
$dark-green: rgb(22, 46, 21);
$orange: rgb(255, 166, 0);
$white: rgb(255, 255, 255);
$olive-green: rgb(151, 204, 7);
$redish: rgb(190, 10, 10);
$green: rgb(48, 105, 45);
$mint: rgb(0, 170, 170);
$bluish: rgb(49, 39, 199);
$grey: rgb(128, 128, 128);
$black: rgb(0, 0, 0);
$transparent: rgba(255, 255, 255, 0);
$vue-default: #2c3e50;