html, body {
    height: 100%;
    margin: 0px;
}
#outer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .box {
        width: 100px;
        height: 100px;
        text-align: center;
        padding: 5px;
        color: white;
        background-color: lightgray;
        align-self: flex-start;
        +div.box {
            background-color: gray;
            align-self: center;
            margin-top: auto;
            +div.box {
                background-color: rgba(128, 128, 128, 0.658);
                align-self: flex-end;
                margin-left: auto;
            }
        }
        
    }
}
