* {
  box-sizing: border-box;
}

html {
  font-family: 'arial', sans-serif;
}

body {
  margin: 0;
  background-color: antiquewhite;
}

section {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

hr {
  color: darkgreen;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #dbb404;
  padding: 0.5rem;
  color: white;
  border-radius: 10px;
}

h2 {
  font-size: 2rem;
  border: 2px solid darkgreen;
  padding-top: 1ex;
  padding-bottom: 1ex;
  background-color: gainsboro;
  color: darkolivegreen;
  margin: 0 0 2rem 0;
}

input {
  font: inherit;
  margin-top: 1rem;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #1b995e;
  background-color: #d7fdeb;
}

button {
  font: inherit;
  cursor: pointer;
  border: 1px solid darkred;
  background-color: darkred;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0.5rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

button:hover,
button:active {
  background-color: red;
  border-color: red;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
